@page
@model DguSite.Areas.News.Pages.IndexModel
@{
    ViewData["Title"] = "Новости";
}
<div style="min-height:165px;">

</div>

<div>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <div>
        <div>
            <h3>Заголовок новости</h3>
            <input type="text" id="head" class="form-control" />
        </div>
        <div>
            <h3>Текст новости</h3>
            <textarea id="content1" name="content1"> </textarea>
        </div>
        <div>
            <input type="submit" value="Добавить"  class="btn btn-outline-dark"/>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace('content1');
</script>