@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="dropdown" data-delay="0" data-close-others="false" asp-page="/Index">Русский язык</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="dropdown" data-delay="0" data-close-others="false" href="/InfoDetail?infoId=66">English</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/InfoDetail?infoId=67">Faculties</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=85">Rules and conditions of admission of foreign citizens</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=95">Quality management of education</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/InfoDetail?infoId=96">Primary Trade Union Organization of workers and students</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=97">The Employment Center</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/InfoDetail?infoId=98">Committee on Youth Affairs</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=99">Student Club</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=100">Contacts</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=101">Dagestan State University and countries of the world</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=102">Educational work</a>
        </div>
    </li>
    
    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="dropdown" data-delay="0" data-close-others="false" href="/InfoDetail?infoId=103">Deutsch</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/InfoDetail?infoId=104">Geschichte</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=105">Ausbildungsaktivitäten</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=106">Liste der fachbereiche der postgradualen weiterbildung</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/InfoDetail?infoId=107">Rektorat</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=108">Fakultäten</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/InfoDetail?infoId=119">Wissenschaft und innovationstätigkeit</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=120">Regeln Die Aufnahme</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=121">Aspirantur und doktorantur</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=122">Qualitätsmanagement</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=123">Arbeitsvermittlungsstelle</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/InfoDetail?infoId=124">Zentrum für internationale vorhochschulausbildung</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=125">Die Erziehungsarbeit an der DSU</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=126">Das Komitee für die Jugendangelegenheiten</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=127">Der studentische Klub</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=128">Kontakt</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="dropdown" data-delay="0" data-close-others="false" href="/InfoDetail?infoId=129">Le francais</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/InfoDetail?infoId=130">Histoire</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=131">Facultés</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=136">Universites-antennes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/InfoDetail?infoId=141">Règlement général de l’admission</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=142">Contacts</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="dropdown" data-delay="0" data-close-others="false" href="/InfoDetail?infoId=143">Türk</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/InfoDetail?infoId=144">Dağıstan Devlet Üniversitesi ve Dünya Ülkeleri</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=145">Dağıstan Devlet Üniversitesi İş Sağlama Merkezi</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=146">Dağıstan Devlet Üniversitenin Sendika Taban Kurması (DDÜ STK)</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=147">İletişim Bilgileri</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="9odropdown" data-delay="0" data-close-others="false" href="/InfoDetail?infoId=148">العربية</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/InfoDetail?infoId=149">رئاسة جامعة داغستان الحكومية</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=150">الكليات</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=154">مركز التحضير الدولي و ما قبل الجامعي</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=155">الدكتوراه</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=156">الاستاذية</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=157">شروط القبول فى الجامعة للمواطنين الأجانب</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-white menu-link" data-hover="dropdown" data-delay="0" data-close-others="false" href="/InfoDetail?infoId=158">فارسی</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/InfoDetail?infoId=159">ارتباط با دانشگاه</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=160">دوره دکترا و نامزدی دکترا</a>
            <a class="dropdown-item" href="/InfoDetail?infoId=161">	لیست رشته‌های آموزش پس از فارغ‌التحصیلی</a>
        </div>
    </li>
</ul>
