@page
@model DguSite.Pages.MainModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body style="margin:0px">
   <img src="~/content/lue.png" alt="" width="100%">

</body>
</html>
